# SOU Exploratory Analyis & File Creation

### Libraries

In [241]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pdfplumber
import re

# Personal Lib for this project
from tools import *

### Testing on One File
- TODO:
    Compile everything into one function

In [242]:
# Path to for rep file
pdf_path = "../data/pdf/March20.pdf"

with pdfplumber.open(pdf_path, pages = [1]) as pdf:
    # Extract text from each page
    text = ""
    for page in pdf.pages:
        text += page.extract_text();

# Grab the text and figure out use case

In [264]:
full_data = pd.DataFrame.from_dict(folder_to_dict('../data/pdf'))
full_data.to_csv('../data/csv/full_data.csv', index = False)

Baird Morgan
McIntyre Bridgette
Schmerbach Emma
McIntyre Meghan
Robbins Clara
Scheppele Sierra
DiGiulio Eliza
Wright Keeley
Scurlock Makayla
Williams Mallory
MCINTYRE BRIDGETTE
SCHMERBACH EMMA
BAIRD MORGAN
MCINTYRE MEGHAN
ROBBINS CLARA
DIGIULIO ELIZA
WILLIAMS MALLORY
WRIGHT KEELEY
SCHEPPELE SIERRA
SCURLOCK MAKAYLA
BAIRD MORGAN
SCHMERBACH EMMA
MCINTYRE BRIDGETTE
MCINTYRE MEGHAN
ROBBINS CLARA
WRIGHT KEELEY
DIGIULIO ELIZA
SCHEPPELE SIERRA
WILLIAMS MALLORY
TEAGUE-PERRY SHAKIA
SCURLOCK MAKAYLA
ZURITA JENIKA
STEVENS ALI
BAIRD MORGAN
SCHMERBACH EMMA
MCINTYRE MEGHAN
MCINTYRE BRIDGETTE
ROBBINS CLARA
WILLIAMS MALLORY
SCURLOCK MAKAYLA
SCHEPPELE SIERRA
TEAGUE-PERRY SHAKIA
WRIGHT KEELEY
DIGIULIO ELIZA
ZURITA JENIKA
STEVENS ALI

# Testing Area

In [271]:
full_data['#'] = full_data['#'].astype(int)
full_data['MIN'] = full_data['MIN'].astype(int)
full_data['PF'] = full_data['PF'].astype(int)
full_data['A'] = full_data['A'].astype(int)
full_data['TO'] = full_data['TO'].astype(int)
full_data['BLK'] = full_data['BLK'].astype(int)
full_data['STL'] = full_data['STL'].astype(int)
full_data['PTS'] = full_data['PTS'].astype(int)
full_data['Date'] = pd.to_datetime(full_data['Date'], format='%m/%d/%y')

In [ ]:
full_data

,#,Player,GS,MIN,FG,3PT,FT,ORB-DRB,REB,PF,A,TO,BLK,STL,PTS,Opponent,Date
0,20,Morgan Baird,*,21,5-12,1-2,2-2,4-3,7,1,2,0,0,0,13,Evergreen (WA),01/03/25
1,10,Bridgette McIntyre,*,26,4-7,4-7,0-0,0-3,3,0,1,2,0,1,12,Evergreen (WA),01/03/25
2,12,Emma Schmerbach,*,25,4-11,1-1,3-3,1-5,6,0,8,3,2,0,12,Evergreen (WA),01/03/25
3,1,Meghan McIntyre,*,27,4-8,1-3,0-1,0-5,5,1,3,2,0,1,9,Evergreen (WA),01/03/25
4,23,Clara Robbins,*,13,3-4,0-0,0-0,2-7,9,1,0,0,1,0,6,Evergreen (WA),01/03/25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
392,32,Eliza DiGiulio,-,21,2-5,0-1,3-3,1-3,4,3,0,0,1,0,7,Concordia (NE),11/02/24
393,13,Keeley Wright,-,11,2-4,0-0,2-2,1-0,1,4,0,1,0,0,6,Concordia (NE),11/02/24
394,34,Shakia Teague-Perry,-,5,0-0,0-0,0-1,0-0,0,0,0,1,0,0,0,Concordia (NE),11/02/24
395,21,Jenika Zurita,-,2,0-1,0-1,0-0,0-0,0,2,0,0,0,0,0,Concordia (NE),11/02/24
396,33,Mallory Williams,-,2,0-0,0-0,0-0,0-1,1,0,0,0,0,0,0,Concordia (NE),11/02/24